*{
    margin: 0 ;
    box-sizing: border-box;
    padding: 0;
}
@font-face {
    font-family: "roboto";
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf")
}
/* body {
    padding: 0 2% ;
}  */
nav{
    font-family: "roboto";
}
nav img {
    padding-left: 40%;
}
.one{
    border: 1.33px solid #5E3BEE ;
    color: #5E3BEE
}
.one:hover{
    border: 1.33px solid #5E3BEE ;
    color: #5E3BEE
}
a.two{
    color: #5E3BEE;
}
a.two:hover{
    color: #5E3BEE;
}

li.abc{
    padding: 0px 5px;
}
button.two{
    background-color: #5E3BEE;
    border-radius: 5px;
    color: #F5FCFF;
    font-size: 20px;
    font-family: "roboto";
    letter-spacing: 0%;
    height: 69px;
}
.hero{
    background-color: #F5FCFF;
}
span{
    color: #5E3BEE;
}

.text{
    padding: 90px 0px 40px 100px;
}
.kjh{
    padding: 0px 100px;
}
.efg {
    background-color: #F5FCFF;
}
.imag img{
    height: 90px;
    width: 90px;
    padding: 0px 12px;
}
.efg h3{
    padding: 10px 0px 10px 12px
}
.efg p{
    padding-left: 12px;
}